<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour time!{{else}}Already devoured???{{/if}}
	</button>

	<button class="delete-devour" data-id="{{this.id}}">Devour it!</button>
</li>